# Dependencies
node_modules/
**/node_modules/

# Package locks
package-lock.json
**/package-lock.json

# Environment
.env*
**/.env*

# Logs
logs/
**/logs/

# Uploads
backend/uploads/

# Dataset
dataset/

# Model files
model/*.h5
model/tfjs/
*.hdf5
*.keras
*.tflite

# Cache
__pycache__/
*.pyc
.cache/
.pytest_cache/

# IDE
.vscode/
.idea/

.vercel

# Credentials
*credentials.json
model_url.txt

# Build
dist/
build/
